<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">

    <!-- Configure the DispatcherServlet -->
    <servlet>
        <servlet-name>foodAtEase</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- Specify the path to the Spring application context configuration -->
        <init-param>
            <param-name>foodAtEase</param-name>
            <param-value>/WEB-INF/foodAtEase-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Map the DispatcherServlet to handle all requests -->
    <servlet-mapping>
        <servlet-name>foodAtEase</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
